/src/Softare_Engineering_Final_Project/.venv/

/src/Softare_Engineering_Final_Project/*.pyc
/src/Softare_Engineering_Final_Project/__pycache__/

/src/Softare_Engineering_Final_Project/instance/

/src/Softare_Engineering_Final_Project/.pytest_cache/
/src/Softare_Engineering_Final_Project/.coverage
/src/Softare_Engineering_Final_Project/htmlcov/

/src/Softare_Engineering_Final_Project/dist/
/src/Softare_Engineering_Final_Project/build/
/src/Softare_Engineering_Final_Project/*.egg-info/

/src/Softare_Engineering_Final_Project/NYPD_Complaint_Data_Historic.csv